body {

	font-family : Karla, sans-serif;
	.section {
		width : 100vw;
		height : 100vh;
		background-color: $bg_color_main_section;
	}

	.section__main {
		
		@extend .section;

		.content {
			width : 1140px;
			margin : 0 auto;
			color : white;
		}

		nav {
			ul {
				padding : 10px;
				list-style-type : none;

				li {
					padding : 10px;
					display : inline-block;
				}
			}
		}

		.main_inout_logo {
			margin-top : 180px;
		}
	}
}
